# Ignorar la carpeta de dependencias de Node.js
node_modules/

# Archivos de log
*.log
logs/

# Archivos de entorno (buenas prácticas)
.env

# Archivos del sistema operativo (opcional pero recomendado)
.DS_Store
Thumbs.db